# Fundamentos de Python 
*Variables
*Operadores matematicos
*Operadores logicos
*Operadores de comparacion
*Condicionales
    -Simples
    -Compuestos
    -Anidados
    -Encadenados
*Ciclos
    -Finitos (For)
    -Infinitos (While)
*Funciones
*Estructura de datos
    -Caracteres
    -Enteros
    -Flotantes
    -Listas
    -Diccionarios
    -Tuplas
*Fundamentos de POO

In [67]:
print("Epale")

Epale

In [68]:
# variables
name = "Javier"

In [69]:
last_name = "Gonzalez"

In [70]:
# Operadores matematicos
suma = 2 + 2
resta = 2 -2 
multiplicacion = 2 * 2
division = 2/2

In [71]:
number1= 12
number2= 20,5

In [72]:
suma=number1+number2
resta=number1-number2

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [ ]:
suma

32

In [ ]:
print (suma)
print (resta)

32
-8

In [ ]:
print(f"El resultado de la suma es:{suma}")

El resultado de la suma es:32

In [ ]:
# operadores de comparacion
# igual a ==
# mayor que >
# menor que <
# mayor o igual que >=
# menor o igual que <=
# diferente !=

In [ ]:
3>2

True

In [ ]:
number1 ==number2

False

In [ ]:
# Condicionales
if number1<number2: 
    print("number1 es menor que number2")

number1 es menor que number2

In [ ]:
    # Condicionales
    if number1>number2:
     print("number1 es mayor que number2")
    else:
        print("number1 no es mayor que number2")

number1 no es mayor que number2

In [ ]:
# Condicionales
if number1>number2 and number1>10:
    print("number1 es mayor que number2")
    print("number1 es mayor que 10")
    
else:
    print("number  es mayor que number2")

number  es mayor que number2

In [ ]:
# Estructura de datos
# String
name= "Josefino"

In [ ]:
type(number1)

int

In [ ]:
type(number2)

tuple

In [ ]:
# listas
name_list= ["jose", "javier", "josefino"]

In [ ]:
age_list=[20,30,40,50]

In [ ]:
name_list

['jose', 'javier', 'josefino']

In [ ]:
name_list[0]

'jose'

In [ ]:
# Slice de una lista
name_list[0:2]

['jose', 'javier']

In [ ]:
# Slice de una lista
name_list[1:4]

['javier', 'josefino']

In [ ]:
len(name_list)

3

In [ ]:
# Ciclos finitos
for var in name_list:
    print (var)

jose
javier
josefino

In [ ]:
# Ciclos finitos
for name in name_list:
    print (name)

jose
javier
josefino

In [ ]:
# Ciclos finitos
for name in name_list:
    if name == "ruperto":
       print ("Es Ruperto")

In [ ]:
# Ciclos finitos
for name in name_list:
    if name == "ruperto":
       # Imprime la posicion de la lista
       print (name_list.index(name))

In [ ]:
# Ciclos finitos
for name in name_list:
    if name == "josefino":
       # Imprime la posicion de la lista
       print (name_list.index(name))

2

In [ ]:
# Recorrido de una lista por indices
for item in range(4):
    print("hola")

hola
hola
hola
hola

In [ ]:
# Recorrido de una lista por indices
for item in range(3):
    print("hola")

hola
hola
hola

In [ ]:
# Recorrido de una lista por indices
for item in range(len(name_list)):
    print(item)

0
1
2

In [ ]:
# Recorrido de una lista por indices
for item in range(len(name_list)):
    print(name_list[item])

jose
javier
josefino

In [ ]:
# Recorrido de una lista por indices
for item in range(len(name_list)):
    if name_list[item]=="jose":
       print(name_list[item])
       print(item)

jose
0

In [ ]:
# Recorrido de una lista por indices
for item in range(len(name_list)):
    if name_list[item]=="josefino":
       print(name_list[item])
       print(item)

josefino
2

### Funciones en python

In [73]:
def saludos():
    print("hola")

In [74]:
saludos

In [ ]:
# Funcion que salude a un nombre
def saludos(name)
    print(f"hola{name}" )

In [ ]:
saludos("josefino")

In [77]:
# Funcion que sume 2 numeros
def suma(number1,number2):
    return number1+number2

In [78]:
suma(2, 3)

5

In [79]:
# Funcion para calcular la altura de un triangulo
def area_triangulo(base, altura):
    return (base*altura)/2

In [80]:
area_triangulo(2, 3)
# Funcion para calcular la altura de un triangulo

3.0

In [81]:
area_triangulo(base=3, altura=2)

3.0

In [83]:
# funcion con argumentos por defecto
def area_triangulo(base=2, altura=3):
    return (base*altura)/2

In [84]:
area_triangulo(5,7)     # llama a la funcion sin argumentos

17.5

In [85]:
# documentacion de la funcion
def area_triangulo(base=2, altura=3):
    """
    Esta funcion calcula el area de un triangulo
    base: base del triangulo
    altura: altura del triangulo
    """
    return (base*altura)/2

In [89]:
def area_triangulo3(base=float, altura=float)->float:
    """    Esta funcion calcula el area de un triangulo
    base: base del triangulo
    altura: altura del triangulo
    """
    return (base*altura)/2